<!--Base Template for all other templates-->
<html>

<head>
  {% if title %}
  <!--If statement to check if title was passed if it is not the else-->
  <!--No need to go through Jinja templating just understand how to use all used in the code-->
  <title>{{ title }} - Config Computer</title>
  {% else %}
  <title>Wecome to computer config</title>
  {% endif %}
  <!--Always end if-->
</head>

<body>
  <div>
    <!-- If there is no logged in User -->
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('index') }}">Home</a>
    {% else %}
    <a href="{{ url_for('index') }}">Get Device</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('user') }}">Dashboard</a>
    {% endif %}
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <!--<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>-->
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  <!--Used to flash error messages etc-->
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block content %}
  <!--
          all content from other templates which inherit from this
          will come here
        -->
  {% endblock %}
</body>

</html>