<!--Inherit from the base template-->
{% extends "base.html" %}

{% block content %}
<!--All the content from here will be embedded inside base.html  block-->
<h1>Hi!</h1>

<p>
    The options for you are
</p>
{% for item in posts %}
<!--Looping through all the items in the post list passed-->
<ul>
    <!--Jinja template to access items in dictionary/JSOn -->
    <li>
        <p>CPU</p>
        <a href={{ item.url }}>{{ item.cpu.name }}</a>
        </br>
        <p>Manufactured by {{ item.cpu.manufacturer }}</p>
        <!-- Keep the images static path in mongodb. Create a folder called as static
     inside app folder and the iuse the path from there. app/static/images/1.jpg
    or use images from the internet by giving the url-->
        <img src={{ item.cpu.imgurl}}>
        Priced at {{item.cpu.Price}}
        <p>RAM</p>
        <a href={{ item.ram.url }}>{{ item.ram.name }}</a>
        </br>
        <p>Manufactured by {{ item.ram.manufacturer }}</p>
        <!-- Keep the images static path in mongodb. Create a folder called as static
     inside app folder and the iuse the path from there. app/static/images/1.jpg
    or use images from the internet by giving the url-->
        <img src={{ item.ram.imgurl}}>
        Priced at {{item.ram.Price}}
        <p>Total Price will be {{ item.totalprice }}</p>
        <a href="{{ url_for('post',ram=item.ram._id,cpu=item.cpu._id) }}">Save to Dashboard</a>
    </li>
</ul> {% endfor %}
<!--Always close for loops like this-->
{% endblock %}
<!--End of block content-->