{% extends "base.html" %}
{% block content %}
<!-- current_user is logged in user object in jinja templating -->
{% if user == current_user %}
<!--Allows editing if viewing self user profile other wise this will be disabled-->
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% endif %}
<h1>User: {{ user.username }}</h1>
<hr>
<p>Saved Items</p>
<ol>
    {% for item in posts %}
    <li>
        {{item.item}} Priced at {{item.price}}
    </li>

    {% endfor %}
</ol>
{% endblock %}